body{
    background-color:#242323;
    color: rgb(40, 199, 119);
}
.container{
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    display: box;
    padding: 1mm;
    align-items: center;
    overflow:visible
    
}
.jumbotron{
    border-radius: 50px;
    font-size: xx-large;
    background-color:#242323;
    padding: 2em;
}
.dropdown-menu{
    background-color: #242323;
    border-radius: 1mm;
    border-color: aliceblue;
}
.dropdown-item{
    color: rgb(40, 199, 119);
    border-radius: 1mm;
    border-color: aliceblue;
}
#dropdownMenuLink{
    background-color: aliceblue;
}
